<% include common/header %>



	<div class="container">

	<table class = "table table-striped">
		<caption></caption>
		<thead>
			<tr>
				<th>Description</th>
				<th>Date</th>
				<th>Is done</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% for (var i = 0; i < quot.length; i++) { %>
        <tr>
          <td><%= quot[i].description %></td>
          <td><%= quot[i].date.toISOString().substring(0, 10); %></td>
          <td><%= quot[i].done %></td>
          <td><a href = "/mark-done/<%= quot[i]._id %>" class ="btn btn-success">Done</a></td>
					<td><a href = "/delete-todo/<%= quot[i]._id %>" class ="btn btn-danger">Delete</a></td>
        </tr>
        <% } %>
		</tbody>
	</table>
<div>
<a class="btn btn-success" href="/addtodo">Add todo</a>
</div>
</div>

<% include common/footer.ejs%>
